// main: ../global.scss

/** ================================================
                # ANIMATION
================================================ **/


body {
  animation-name: noScroll;
  animation-duration: 4s;
}
@keyframes noScroll {
  0%,85% { overflow: hidden; }
  100% { overflow-y: auto; }
}


.menu, .presentation {
  animation-name: apparition;
  animation-duration: 4s;
}
@keyframes apparition {
  0%,95% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}


.logo {
  animation-name: splashScreenDesk--fond;
  animation-duration: 4s;
  display: flex;
}
@keyframes splashScreenDesk--fond {
  0%,65% {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  	@include couleur-gradient;
  }
  74% {
    width: 100vw;
    height: 560px;
    background-color: transparent;
  }
  75% {
    width: 100vw;
    height: 560px;
  }
  94% {
    position: absolute;
    top: 25px;
    left: 0;
    width: 200px;
    height: 120px;
  }
  95%, 100% {
    position: absolute;
    top: 25px;
    left: calc( ( 100% - 1250px ) / 2);
  }

}

.logo_mmietapres {
  width: 100%;
  height: 100%;
  margin: auto;
  animation-name: splashScreenDesk--logo;
  animation-duration: 4s;
}
@keyframes splashScreenDesk--logo {
  0%, 94% {
    width: 400px;
    height: 100%;
    margin: auto;
    overflow: visible;
  }
  100% {}
}




// coloration
.logo {
  &__M1, &__M2, &__I, &__et { fill: #fff; }
  &__A, &__P, &__R, &__E, &__accent, &__S, &__question {
    fill: $couleur-logo2--clair;
    animation-name: logoAPRES;
    animation-duration: 3s;
  }
}

@keyframes logoAPRES {
  0%,80% {
    opacity: 0;
    transform: translateY(-20px);
  }
  95% {
    opacity: 1;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.logo__M1 {
  animation-name: logoM1;
  animation-duration: 3s;
}
@keyframes logoM1 {
  0%, 28% {
    opacity: 0;
    transform: rotate(-15deg) scale(0.8);
  }
  40%,100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo__M2 {
  animation-name: logoM2;
  animation-duration: 3s;
}
@keyframes logoM2 {
  0%, 40% {
    opacity: 0;
    transform: rotate(-15deg) scale(0.8);
  }
  52%,100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo__I {
  animation-name: logoI;
  animation-duration: 3s;
}
@keyframes logoI {
  0%, 52% {
    opacity: 0;
    transform: rotate(-15deg) scale(0.8);
  }
  64%,100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo__et {
  animation-name: logoEt;
  animation-duration: 3s;
}
@keyframes logoEt {
  0%, 64% {
    opacity: 0;
    transform: rotate(-15deg) scale(0.8) translate(-50px, 15px);
  }
  76%,100% {
    opacity: 1;
    transform: translateY(0);
  }
}




/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-paysage) {

  body { animation: none; }
  .menu, .presentation { animation: none; }

  .logo {
    animation-name: splashScreenMob--logo;
    animation-duration: 3s;
    &__M1, &__M2, &__I, &__et {
      fill: $couleur-logo1;
      animation-name: splashScreenMob--svg;
      animation-duration: 3s;
    }
    @keyframes splashScreenMob--svg {
      0%, 95% { fill: white; }
    }
    &__A, &__P, &__R, &__E, &__accent, &__S, &__question {
      fill: $couleur-logo2;
      animation-name: none;
    }
  }
  @keyframes splashScreenMob--logo {
    0%, 20% {
      z-index: 100;
    	position: fixed;
    	width: 300px;
    	left: calc( 50% - 150px );
    	height: 80vh;
    	margin: 0;
      opacity: 0;
    }
    30%, 80% {
      z-index: 100;
    	position: fixed;
    	width: 300px;
    	left: calc( 50% - 150px );
    	height: 90vh;
    	margin: 0;
      opacity: 1;
    }
    85% {
      z-index: 100;
      position: fixed;
      width: 300px;
      opacity: 0;
    }
    95% {
      z-index: 1;
      position: static;
      width: 150px;
    	height: auto;
      opacity: 0;
    }
  }

  .logo::before, .logo::after {
    content: "";
    position: fixed;
    bottom: 40px;
    width: 120px;
    height: 70px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    pointer-events: none;
    animation-name: splashScreenMob--emetteurs;
    animation-duration: 3s;
  }
  @keyframes splashScreenMob--emetteurs {
    0%,20% { opacity: 0; }
    30%, 80% { opacity: 1; }
    85% { opacity: 0; }
  }
  .logo::before {
    left: calc( 50% + 20px );
    background-image: url("../images/mmi.png");
  }
  .logo::after {
    right: calc( 50% + 20px );
    background-image: url("../images/iut.png");
  }

  .logo_menu::before {
    content: "";
    z-index: 99;
    @include couleur-gradient;
    animation-name: splashScreenMob--fond;
    animation-duration: 3s;
  }
  @keyframes splashScreenMob--fond {
    0%, 95% {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: white;
      opacity: 1;
    }
    100% { opacity: 0; }
  }

  .logo_mmietapres {
    width: 100%;
    height: 100%;
    margin: auto;
    animation: none;
  }

}


/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }


/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) { }
