// main: ../global.scss

/** ================================================
                # CONTACT
================================================ **/
.contact{
    margin-top: 100px;
    background-color: $couleur-logo1;
    padding: 1px 0;
}

.h_footer{
  color: white;
  margin-bottom: 50px;
}

.flex_footer_global{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    color : white;
    max-width: 900px;
    margin: 30px auto;
}

.flex_contact_gauche{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color : white;
}

.flex_mail{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    color : white;
}

.flex_depart{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    color : white;
    margin-top: 50px;
}

.flex_depart p{
  margin-top:0;
}

.flex_img{
  display: flex;
  position: relative;
  flex-direction: row;
  align-content: center;
  justify-content:space-between;
}

.contact_mentions{
  color : white;
  text-align: center;
}


/** ------------------------------------------------
                tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) {
  .contact{
    background-color: white;
  }

  .flex_depart{
      align-content: center;
      justify-content: center;
      text-align: center;
      color : white;
  }
}


/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) {

}
