// main: ../global.scss

/** ================================================
                # CONTACT
================================================ **/

.contact {
  margin-top: 100px;
  background-color: $couleur-logo1;
  padding: 1px 0;
  color: white;

  .h_footer {
    color: white;
    margin-bottom: 50px;
  }

  .flex_footer_global {
  	display: grid;
  	grid-template-columns: 1fr 1fr;
  	max-width: 1000px;
  	margin: 30px auto;

    .flex_coordonnees, .flex_depart, .flex_img {
      grid-column: 1/2;
      display: flex;
      align-content: center;
      width: 80%;
      margin-left: auto;
      text-align: center;
    }

    .flex_coordonnees {
      grid-row: 1/2;
      flex-direction: column;
      justify-content: center;
      p { margin: 5px 0; }
      .icone_facebook {
        width: 25px;
        margin: 5px auto;
      }
      .telephone__num {
        color: transparent;
        background-image: url("../images/numeroAnais_blanc.gif");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .flex_depart {
      grid-row: 2/3;
      flex-direction: column;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 30px;
      p { margin-top: 0; }
      p:last-of-type { margin-bottom: 5px; }
    }

    .flex_img {
      grid-row: 3/4;
      position: relative;
      flex-direction: row;
      justify-content: center;
      .emetteur {
        height: 30px;
        margin: 0 5px;
      }
    }

    .googlemaps {
      grid-column: 2/3;
      grid-row: 1/4;
      width: 90%;
      height: 280px;
      margin: auto 0 auto auto;
      border: none;
    }

  }



  .contact_mentions {
    color: white;
    text-align: center;
  }

  .mentions { display: none; } //include pour mobile

}



/** ------------------------------------------------
                tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) {


  #popDetails:checked ~ .contact {
		z-index: 2;
		background: transparent;
		.flex_footer_global, label { display: none; }
		.mentions {
			height: auto;
      opacity: 1;
		}
	}

  .contact.focused {
    z-index: 99;
    padding: 30px 0;
    .mentions-trigger, .mentions { position: relative; z-index: 1; }
    .flex_footer_global { display: none; }
    .mentions-trigger {
    	width: 30px;
    	height: 30px;
    	margin-left: auto;
      margin-right: 20px;
    	font-size: 0;
      transition: margin-right 0.4s;
      &::after {
        width: 30px;
        height: 30px;
        margin-left: 0;
        background-image: url("../images/croix.svg");
      }
    }
    .mentions { height: auto; opacity: 1; }
  }

  .contact {
    margin-top: 0;
    padding-top: 115px;
    padding-bottom: 80px;
    color: black;
    background-color: white;

    .flex_footer_global {
      display: flex;
      flex-direction: column;
      margin: 10px auto;
      color: $couleur-texte;

      .flex_coordonnees, .flex_depart, .flex_img {
        width: 100%;
        margin: 0 auto;
      }

      .flex_coordonnees {
        order: 4;
        .telephone__num { background-image: url("../images/numeroAnais_noir.gif") }
      }

      .flex_depart {
        order: 1;
        margin-bottom: 20px;
        p { margin: 0; }
      }

      .flex_img { order: 5;}

      .googlemaps {
        order: 2;
        height: 250px;
        margin: 0 auto;
      }
      .bouton {
        order: 3;
        transform: translateY(-20px);
        color: $couleur-logo2;
        background: rgba(255,255,255,0.5);
      }

      h5{
        order: 3;
      }

      .agence{
        font-family:Montserrat;
      	font-size:16px;
      	font-weight:bold;
      	text-align:center;
        margin-bottom:30px;
      }

      .telephone{
        margin-bottom:30px;
      }

      .flex_img{
        display:none;
      }
    }

    .contact_mentions{
      font-size:14px;
      font-weight:bold;
    }

    .mentions-trigger {
      font-family: $police1;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      &::after {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: top;
        margin-left: 10px;
        background-image: url("../images/+.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    .mentions {
      display: block;
      width: 90%;
      height: 0;
      max-width: 420px;
      margin: 10px auto;
      opacity: 0;
      color: white;
      overflow: hidden;
      transition: opacity 1s;
    }


  }


}


/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) {

}
