// main: ../global.scss

/** ================================================
                # ENTREPRISES
================================================ **/

.entreprises {
  margin: 0 auto;
  max-width: 1000px;

  .entreprise {
    position: relative;
    display: flex;
    width: 200px;
    height: 200px;
    margin: auto;
    cursor: default;
    &:hover .entreprise__texte {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s;
    }

    &__logo {
      width: 200px;
      margin: auto;
      transition: all 0.2s;
    }
    &__texte {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0;
      left: calc( 50% - 100px);
    	display: flex;
    	align-items: center;
    	width: 200px;
    	height: 200px;
    	padding: 10px;
    	text-align: center;
      color: #FFF;
      background-color: $couleur-logo1;
      transition: opacity 0.2s;
    }

  }
}



/** ------------------------------------------------
                tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) {

  .entreprises {
    padding: 0 calc( ( 100% - 480px ) / 2);
    &.focused .intro,
    &.focused .slider .entreprise:not(.focused) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    .intro {
      display: block;
      margin: 70px 30px 10px;
    }

    .slider {
      position: absolute;
      right: 0;
    	display: flex;
    	width: 100%;
    	height: auto;
    	padding: 0 30%;
    	direction: rtl;
      overflow: auto hidden;
      transition: all 0.2s;
      &.focused {
        top: 180px;
        overflow: visible;
        justify-content: center;
      }
    }

    .entreprise {
      width: 140px;
      height: 100px;
      margin: 0 10px;
      transition: height 0.2s;
      &:hover .entreprise__texte {
      	visibility: hidden;
      	opacity: 0;
      }
      &.focused {
      	z-index: 1;
      	position: absolute;
      	left: 0;
        flex-direction: column;
      	width: 100%;
      	margin: 0;
        .entreprise__logo { width: 220px; }
        .entreprise__texte {
        	position: static;
        	visibility: visible;
        	opacity: 1;
        	width: 90%;
        	max-width: 320px;
        	margin: 30px auto;
        	background: none;
        	color: $couleur-texte;
        	text-align: left;
          direction: ltr;
        }
      }
    }

  }

}

/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) {

}
