// main: ../global.scss

/** ================================================
                # ETUDIANTS
================================================ **/

@media (min-width: $tablette-paysage) {

  .etudiants{
    display: flex;
    flex-flow: column;
    padding: 0 calc( ( 100% - 1250px ) / 2);
    margin-top: 50px;
  }

  .flex_temoignage{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin-top: 25px;
  }

  .temoignage {
    &_block{
      display:block;
      position: relative;
      box-shadow: 10px 10px 20px grey;
      //background-color: aqua;
      height: 400px;
      width: 300px;
      &:hover .temoignage_photo_fond { opacity: 0.1; }
      &:hover .barre_couleur { height: 12px;}
    }

    &_photo_fond{
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../images/photo_tem.jpg");
      background-size: cover;
      transition:opacity 0.3s ease;
      opacity : 0.3;
    }

    &_contenu{
      display: flex;
      position: relative;
      flex-direction: column;
      align-content: center;
      padding-top: 15px;
      padding-left: 10px;
      padding-right: 10px;
      z-index: 1;
    }

    &_icone{
      display: block;
      position: relative;
      width: 50px;
      margin-left: auto;
      margin-right: auto;
      z-index: 2;
    }

    &_texte{
      display: block;
      position: relative;
    }
  }

  .barre_couleur{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: 3;
    background-color: black;
    transition:height 0.3s ease;
    }

  .barre_couleur[data-color="bleu"]{
      background-color: #333399;
  }
  .barre_couleur[data-color="vert"]{
      background-color: #009933;
  }
  .barre_couleur[data-color="magenta"]{
      background-color: #cc0099;
  }
  .barre_couleur[data-color="orange"]{
      background-color: #ff9900;
  }

  .flex_button_tem{
    margin-top: 70px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
  }

}


@media (max-width: $tablette-paysage) {

  .temoignage {
    &_block &_photo_fond {
    	background-image: url("../images/photo_tem.jpg");
    	background-size: cover;
    	padding-bottom: 100%;
    	border-radius: 100%;
    	border: 3px solid;
    }
    &_block[data-S4="audiovisuel"] &_photo_fond { border-color: #333399; }
    &_block[data-S4="programmation"] &_photo_fond { border-color: #009933; }
    &_block[data-S4="graphisme"] &_photo_fond { border-color: #cc0099; }
    &_block[data-S4="communication"] &_photo_fond { border-color: #ff9900; }
  }

}
