// main: ../global.scss

/** ================================================
                # EVENEMENT
================================================ **/


.evenement {
	// Je met une hauteur trop petite pour faire dépasser le contenu,
	height: 560px;
	// et je compense avec un margin-bottom pour recréer l'espace avec la partie suivante
	margin-bottom: 170px;
	padding-top: 180px;
	@include couleur-gradient;
}

// J'ai passé .wrap1 dans parts/_index.scss comme ça on sait qu'on s'en sert partout

.presentation{
	background-color:white;
	margin:auto;
	width: 70%;
	box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.1);
	margin-bottom:42px;
	padding: 20px 100px;
}


.presentation p{
text-align:center;
//	top:100px; pas nécessaire
//	width:800px; J'ai plutôt mis un padding sur .presentation comme ça c'est flexible
//	margin: auto auto 35px; Je passe ça dans _typos.scss
}

// J'ai rajouté .presentation comme ça ça s'applique juste ici
.presentation h2 {
	margin-bottom:30px;
	/*Comment augmenter l'espace au dessus?*/
	// Tu peux faire un margin-top
}

/*margin bottom negatif pour div presentation*/

.boutons_inscription{
	display:flex;
	justify-content: space-between;
	max-width:620px;
	margin:auto;
	font-family: $police2;
	font-weight:bold;
	margin-bottom: 20px;
}

.inscription_etudiants{
	background-color: $couleur-logo2;
	color: white;
}






/** ------------------------------------------------
                tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) {
	.deskOnly{
		display:none; //boutons et h1 disparu !
	}

	.presentation{
		background-color: grey;
		width:100%;
		margin:0px;
	}

	.evenement{
		background-color: grey;
	}

	//malgré tous mes effort impossible de faire disparaitre le dégradé...
}

/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) {

}
