// main: ../global.scss

/** ================================================
                # EVENEMENT
================================================ **/


.evenement {
	// Je met une hauteur trop petite pour faire dépasser le contenu,
	height: 560px;
	// et je compense avec un margin-bottom pour recréer l'espace avec la partie suivante
	margin-bottom: 210px;
	padding-top: 180px;
	@include couleur-gradient;
}

// J'ai passé .wrap1 dans parts/_index.scss comme ça on sait qu'on s'en sert partout

.presentation{
	background-color:white;
	margin:auto;
	width: 70%;
	box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.1);
	margin-bottom:42px;
	padding: 20px 100px;
	h2 { margin-bottom:30px; }
	p:last-of-type { margin-bottom: inherit; }
	&__rdv { margin: 30px 0; text-align: center; }
}


.boutons_inscription{
	display:flex;
	justify-content: space-between;
	max-width:620px;
	margin:auto;
	font-family: $police2;
	font-weight:bold;
	margin-bottom: 20px;
}

.inscription_etudiants{
	background-color: $couleur-logo2;
	color: white;
}






/** ------------------------------------------------
                tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) {

	//.deskOnly{} La class est déjà définie dans _typo.scss :)

	.evenement {
		height: auto;
		background: none; // voilà pour enlever le dégradé
		margin-bottom: 0;
		background-color: $couleur-fond-mobile;

		.presentation {
			width: 90%;
			max-width: 380px;
			margin: 60px auto auto;
			padding: 0;
			background: none;
			box-shadow: none;

			p { text-align: left; }

		}

	}

}

/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }

/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) {

}
