// main: ../global.scss

/** ================================================
               # INDEX
================================================ **/


.wrap1 {
  display:flex;
  flex-flow:column;
  //	max-width:1250px;
  //  C'est une technique pour avoir le background qui va jusqu'aux bords de l'écran
  padding: 0 calc( ( 100% - 1250px ) / 2 );
}


.page-mentions {

  .presentation {
    margin: 10vh auto auto;
    padding: 70px 100px;
    animation-duration: 2s;
    p { text-align: left;};
    h4{text-align: left; margin-top: 5px;};
    span{margin-top: 20px;}
  }

}




/** ------------------------------------------------
                tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) {

  body { background-color: $couleur-fond-mobile; }

}


/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }


/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) { }
