// main: ../global.scss

/** ================================================
                # PROGRAMME
================================================ **/

.programme{
	max-width:660px;
	margin:auto;
	background-color:white;
}

.programme h1{
	margin-bottom:75px;
}

.programme p{
	font-family:Roboto;
	font-size:18px;
	text-align:center;
	width:290px;
	margin:auto;
}

.programme_gauche{
	margin-right:200px;
	position:relative;
  margin-bottom:150px;
}

.programme_droit{
	margin-left:200px;
	position:relative;
  margin-bottom:150px;
}

.contenu{
	z-index:1;
	position:relative;
}

.image_programme{
	width:200px;
	height:auto;
	position:absolute;
	margin-top:20px;
	z-index:0;
	opacity:0.3;
}

#image_accueil{
	margin-left:100px;
}

#image_presentation_dut{
	margin-left:120px;
}

#image_stage_dating{
	margin-left:130px;
}

#image_buffet{
	margin-left:130px;
}

#image_tables_rondes{
	margin-left:130px;
}
