// main: ../global.scss
/** ================================================
                # HEADER
================================================ **/


input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.logo_menu.sticky {
  z-index: 99;
  position: fixed;
  justify-content: flex-end;
  .logo {
    width: 0;
    height: 0;
    margin: 20px 40px 0 0;
    overflow: hidden;
    background-image: url("../images/+.svg");
    background-size: 37px;
    transform: rotate(0deg);
    cursor: pointer;
    transition: transform 0.2s, top 0.2s;
  }
  .menu { display: none; }
}

.logo_menu.sticky.sticky--open {
  top: 0;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.9);
  transition: background-color 0.2s;
  .logo {
    position: fixed;
    top: 13px;
    right: calc( ( 100% - 1250px ) / 2);
    transform: rotate(45deg);
  }
  .menu {
    display: flex;
    flex-flow: column;
    margin: auto;
    color: black;
    animation: none;
    &__onglet { margin: 0 auto; line-height: 3; }
  }
}

.logo_menu {
	position: absolute;
	top: 13px;
  left: 0;
	display:flex;
	justify-content:space-between;
	width:100%;
	margin: auto auto 40px;
  padding: 0 calc( ( 100% - 1250px ) / 2);

  .logo {
  	width: 200px;
  	padding: 20px;
  	margin: auto auto auto 0;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0px;
    transition: background-size 0.2s;
  }

  .menu {
    display:flex;
    justify-content:space-between;
    margin: 0 20px auto auto;
  	font-family: $police2;
  	font-size:22px;
  	color:white;

    &__onglet {
    	line-height:100px;
    	letter-spacing:-0.5px;
    	word-spacing:-1px;
    	margin: auto 10px;
      &:hover {
      	text-decoration:underline;
      	cursor:pointer;
      }
    }

  }

}







/** ------------------------------------------------
                tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) {

  body { overflow: hidden; }

  .section {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    overflow-x: auto;
    opacity: 0;
    transition: all 0.2s ease;
    &::before {
      z-index: 2;
      content: "";
      position: fixed;
      bottom: -72px;
      left: -2px;
      width: 110%;
      height: 100px;
      background-color: $couleur-logo2;
      box-shadow: 0 -1px 4px grey;
      transform: rotate(-5deg);
      transition: all 0.2s;
    }
  }
  .section.displayed {
    z-index: 1;
    opacity: 1;
    padding-top: 75px;
    &::after {
      content: "";
      display: flex;
      min-height: 60px;
    }
  }
  .section.focused {
    &::before {
      z-index: 0;
      bottom: 0;
      left: 0;
      height: 100vh;
      transform: rotate(0deg);
    }
  }

  .logo_menu {
    z-index: 99;
  	position: fixed;
  	top: 0;
    height: 80px;
    justify-content: normal;
    flex-direction: column;
  	background-color: white;
    transition: height 0.2s;

    &::after {
      z-index: 0;
    	content: "";
    	position: absolute;
    	top: -10px;
    	left: -2px;
    	width: 110%;
    	height: 100px;
    	background: white;
    	box-shadow: 0 4px 4px grey;
    	transform: rotate(2deg);
      transition: all 0.2s;
    }

    .logo, .menu { z-index: 1; }

    .logo {
      width: 150px;
      margin: 10px auto 50px;
      padding: 10px 20px 5px;
    }

    .menu {
      visibility: hidden;
      display: flex;
      flex-flow: column;
      justify-content: center;
      margin: 0 auto auto;
      font-size: 18px;
      color: black;
      opacity: 0;
      transform: translateY(-15px);
      //overflow: auto; // en attente de correctif sur Safari... :(
      &__onglet {
        margin: 0 auto;
        &--contact {
          width: 30px;
          height: 30px;
        	padding: 30px;
        	font-size: 0;
        	background-image: url("../images/lieu.svg");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        	background-size: 28px;
          opacity: 1;
        }
      }
      &__onglet:not(.menu__onglet--contact) {
        line-height: 50px;
        transition: all 0.2s;
      }
    }

    .mentions {
      display: block;
      width: 90%;
      height: 0;
      max-width: 420px;
      margin: 10px auto;
      opacity: 0;
      overflow: hidden;
      h4 { text-align: left; }
      &-wrap {
        visibility: hidden;
        padding-top: 0;
        max-height: 100vh;
        background: rgba(255,255,255,0);
        transition: all 0.2s;
      }
      &-trigger {
        display: block;
        margin: 20px auto auto;
        font-family: $police1;
        font-size: 14px;
        text-align: center;
        color: #999999;
      }
    }


  }
  .logo_menu.displayed {
    height: 100vh;
    &::after { top: 100%; }
    .logo {
      margin: 18vh auto 30px;
      width: 200px;
    }
    .menu {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
      transition-property: opacity, transform;
      transition-duration: 0.2s;
      transition-delay: 0.2s;
    }
    .mentions-wrap { visibility: visible; }
  }
  .logo_menu.bis {
    &::after { background-color: $couleur-logo2; }
    .logo__M1, .logo__M2, .logo__I, .logo__et { fill: white; }
    .logo__A, .logo__P, .logo__R, .logo__E, .logo__accent, .logo__S, .logo__question {
      fill: $couleur-logo2--clair;
    }
  }
  .logo_menu.soften {
    .logo {
      opacity: 0.2;
      pointer-events: none;
    }
    .menu { display: none; }
  }

  .mentions-wrap.focused {
    z-index: 1;
    position: fixed;
    padding-top: 20px;
    overflow: auto;
    background: rgba(255,255,255,0.8);
    .mentions-trigger {
      position: fixed;
    	bottom: 20px;
    	right: 20px;
    	font-size: 0;
    	border-radius: 100%;
    	box-shadow: 0 0 5px;
    	padding: 12px;
    	background: white;
      &::before {
        content: "";
        z-index: 2;
        display: block;
        width: 25px;
        height: 25px;
        vertical-align: top;
        background-image: url("../images/+.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(45deg);
      }
    }
    .mentions {
      height: 100%;
      opacity: 1;
    }
  }


}


/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }


/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) { }
