// main: ../global.scss
/** ================================================
                # HEADER
================================================ **/


input[type="radio"], #popDetails {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.logo_menu.sticky {
  position: fixed;
  justify-content: flex-end;
  .logo {
    width: 0;
    height: 0;
    margin: 20px 40px 0 0;
    overflow: hidden;
    background-image: url("../images/+.svg");
    background-size: 37px;
    cursor: pointer;
  }
  .menu { display: none; }
}
.logo_menu {
	position: absolute;
	top: 13px;
  left: 0;
	display:flex;
	justify-content:space-between;
	width:100%;
	margin: auto auto 40px;
  padding: 0 calc( ( 100% - 1250px ) / 2);

  .logo {
  	width: 200px;
  	padding: 20px;
  	margin: auto auto auto 0;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0px;
    transition: background-size 0.2s;
  }

  .menu {
    display:flex;
    justify-content:space-between;
    margin: 0 20px auto auto;
  	font-family: $police2;
  	font-size:22px;
  	color:white;

    label {
      pointer-events: none;
    	line-height:100px;
    	letter-spacing:-0.5px;
    	word-spacing:-1px;
    	margin: auto 10px;
      &:hover {
      	text-decoration:underline;
      	cursor:pointer;
      }
      a { pointer-events: all; }
    }

  }

}







/** ------------------------------------------------
                tablette paysage
------------------------------------------------ **/

@media (max-width: $tablette-paysage) {

  body { overflow: hidden; }

  .evenement, .programme, .entreprises, .etudiants, .contact {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    overflow-x: auto;
    opacity: 0;
    transition: all 0.2s ease;
  }

  #radio_evenement:checked ~ .evenement,
  #radio_programme:checked ~ .programme,
  #radio_entreprises:checked ~ .entreprises,
  #radio_etudiants:checked ~ .etudiants {
    z-index: 1;
    opacity: 1;
    padding-top: 115px;
  }

  #radio_evenement:checked ~ .logo_menu .menu label[for="radio_evenement"],
  #radio_programme:checked ~ .logo_menu .menu label[for="radio_programme"],
  #radio_entreprises:checked ~ .logo_menu .menu label[for="radio_entreprises"],
  #radio_etudiants:checked ~ .logo_menu .menu label[for="radio_etudiants"] {
    opacity: 1;
    font-size: inherit;
    margin: auto 5px;
  }

  #radio_contact:checked ~ .logo_menu {
    &::after { top: -10px; @include couleur-gradient;}
    .menu { display: none; }
    .menu__contact--fermer {
      right: 25px;
      opacity: 1;
    }
    .logo__M1, .logo__M2, .logo__I, .logo__et { fill: white; }
    .logo__A, .logo__P, .logo__R, .logo__E, .logo__accent, .logo__S, .logo__question {
    	fill: $couleur-logo2--clair;
    }
    & ~ .contact { opacity: 1; }
  }

  .logo_menu.focused {
    &::after { top: -10px; }
    .menu { display: none; }
    .menu__contact--fermer {
      right: 25px;
      opacity: 1;
    }
  }

  .logo_menu {
    z-index: 99;
  	position: fixed;
  	top: 0;
    justify-content: normal;
    flex-direction: column;
  	background-color: white;

    &::after {
      z-index: 0;
    	content: "";
    	position: absolute;
    	top: 30px;
    	left: -2px;
    	width: 110%;
    	height: 100px;
    	background: white;
    	box-shadow: 0 4px 4px grey;
    	transform: rotate(2deg);
      transition: all 0.2s;
    }

    .logo, .menu { z-index: 1; }

    .logo {
      width: 150px;
      margin: 8px auto 0;
      padding: 10px 20px 5px;
    }

    .menu {
      max-width: 100vw;
      height: 50px;
      margin: 0 auto;
      font-size: 18px;
      color: black;
      //overflow: auto; // en attente de correctif sur Safari... :(
      label {
        pointer-events: all;
        a { pointer-events: none; }
      }
      label:not(.menu__contact) {
        font-size: 16px;
        line-height: 50px;
        margin: auto 3px;
        opacity: 0.6;
        transition: all 0.2s;
      }
      &__contact, &__contact--fermer {
        position: absolute;
        top: 12px;
      	right: 15px;
        width: 30px;
        height: 30px;
      	padding: 30px;
        font-size: 0;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      	background-size: 28px;
        opacity: 1;
      }
      &__contact {
      	font-size: 0;
      	background-image: url("../images/lieu.svg");
        &--fermer {
          z-index: 1;
          right: -60px;
          background-image: url("../images/croix.svg");
          opacity: 0;
          transition: opacity 0.2s 0.2s;
        }
      }
    }

  }


}


/** ------------------------------------------------
                tablette portrait
------------------------------------------------ **/

@media (max-width: $tablette-portrait) { }


/** ------------------------------------------------
                Mobile
------------------------------------------------ **/

@media (max-width: $mobile) { }
