// main: ../global.scss

/** ================================================
            # SLIDERS Mobile
              Entreprises & Etudiants
================================================ **/


@media (max-width: $tablette-paysage) {

  .entreprises, .etudiants {
    padding: 0 calc( ( 100% - 480px ) / 2);
    &.focused .intro,
    &.focused .etPart,
    &.focused .bouton {
      display: none;
    }
    &.focused .sliderMob .sliderMob__elem:not(.focused) {
      display: none;
    }

    .intro {
      display: block;
      margin: 60px 30px 10px;
    }

    .sliderMob {
      position: absolute;
      right: 0;
    	display: flex;
    	width: 100%;
    	height: auto;
      min-height: 140px;
    	padding: 0 30%;
      overflow-x: auto;
      overflow-y: hidden;
      touch-action: pan-x;
      transition: all 0.2s;
      &.focused {
        overflow: visible;
        justify-content: center;
      }
      &__elem {
        display: flex;
        width: 130px;
        margin: 0 10px;
        transition: height 0.4s, top 0.4s;
        &.focused {
        	z-index: 1;
        	position: absolute;
          top: 0;
        	left: 0;
          flex-direction: column;
        	width: 100%;
        	margin: 0;
          .sliderMob__logo {
            width: 220px;
            &.temoignage_photo_fond { padding-bottom: 220px; }
          }
          .sliderMob__texte {
          	opacity: 1;
          	width: 90%;
            height: 100%;
          	max-width: 320px;
          	margin: 30px auto;
            direction: ltr;
            pointer-events: all;
            transition: opacity 0.2s;
          }
        }
      }
      &__logo {
        width: 140px;
        margin: auto;
        transition: width 0.2s;
      }
      &__texte {
        width: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;
      }
    }


  }

}
