// main: ../global.scss

/** ================================================
               # BREAKPOINTS
================================================ **/


$tablette-paysage  : 1024px;
$tablette-portrait : 768px;
$mobile            : 640px;


.deskOnly { display: block; }
.mobileOnly { display: none!important; }

@media (max-width: $tablette-paysage) {
  .deskOnly { display: none!important; }
  .mobileOnly { display: block!important; }
}
