// main: ../global.scss

/** ================================================
               # COULEURS
================================================ **/


$couleur-logo1        : #4dbaaf;
$couleur-logo2        : #c71531;

$couleur-texte        : #000;

$couleur-bordure      : #c3c4c2;
