// main: ../global.scss

/** ================================================
               # TYPOS
================================================ **/

$police1 : 'Montserrat', Arial;
$police2 : 'Roboto', Arial;

$police-titre1   : 300 30px $police1;
$police-titre2   : 300 25px $police1;
$police-texte    : 300 16px $police2;


h1 {
	display: block;
	margin: 30px auto;
	text-align: center;
	font: $police-titre1;
	letter-spacing: 5px;
  color: $couleur-logo1;
}

h2 {
	display: block;
	margin: 25px auto;
	text-align: center;
	font: $police-titre2;
	letter-spacing: 5px;
  color: $couleur-logo2;
}

h3 {}

h4 {}

p {
	font: $police-texte;
	margin: 12px auto;
	&:last-of-type { margin-bottom: 50px; }
}

*::placeholder {}





  /** ------------------------------------------------
                  tablette paysage
  ------------------------------------------------ **/

  @media (max-width: $tablette-paysage) { }

  /** ------------------------------------------------
                  tablette portrait
  ------------------------------------------------ **/

  @media (max-width: $tablette-portrait) { }

  /** ------------------------------------------------
                  Mobile
  ------------------------------------------------ **/

  @media (max-width: $mobile) { }
